
.fizzbuzz{
  &::after,&::before{
      @apply text-[20vw] font-bold absolute text-primary
      text-transparent bg-clip-text uppercase
      bg-gradient-to-r from-orange-600 to-orange-500;
      content:attr(data-text);

  }
  &::after{
    @apply top-0;
      animation: toLeft 2s infinite linear alternate;
      
      
  }
  &::before{
    @apply bottom-0 right-0;
      animation: toRight 2s infinite linear alternate ;
  }
}


@keyframes toLeft {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -100px;
  }
}

@keyframes toRight {
  from {
    margin-right: 0px;
  }
  to {
    margin-right: -100px;
  }
}