
.fizzbuzz{
  &::after,&::before{
      @apply text-[20vw] font-bold absolute;
      content:attr(data-text);

  }
  &::after{
    @apply top-0;
      animation: fizzbuzz 2s infinite linear alternate-reverse;
      
      
  }
  &::before{
    @apply bottom-0 right-0;
      animation: fizzbuzz 2s infinite linear alternate ;
      animation-delay: .5s;
  }
}


@keyframes fizzbuzz {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -100px;
  }
}